// Custom styling to make react-select components look more like WordPress.
.block-visibility__react-select {

    // Patch for Firefox overflow issue.
    max-width: 248px;

    .react-select__control {
        border-radius: 2px;
        border: 1px solid var(--wp-components-color-gray-600, #949494);
        min-height: 40px;

        &:hover {
            border: 1px solid var(--wp-components-color-gray-600, #949494);
        }

        &:focus,
        &.react-select__control--is-focused {
            border-color: #007cba;
            border-color: var(--wp-admin-theme-color);
            box-shadow: 0 0 0 1px #007cba;
            box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
            outline: 2px solid transparent;
        }
    }

    // Removes added height on cursor.
    .react-select__value-container {
        div:last-child {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    .react-select__value-container--is-multi {
        padding: 2px 4px;

        .react-select__placeholder {
            margin-left: 5px;
            margin-right: 5px;
        }

        div:last-child {
            margin: 0 2px;
        }
    }

    .react-select__multi-value {
        background-color: #ddd;

        .react-select__multi-value__label {
            font-size: 90%;
            white-space: normal;
        }
    }

    .react-select__input {

        // Override core WP Editor styles.
        &:focus {
            box-shadow: none;
        }

        input {
            min-height: auto;

            // Override core WP Editor styles.
            &:focus {
                box-shadow: none;
            }
        }
    }

    .react-select__clear-indicator,
    .react-select__dropdown-indicator {
        padding: 6px;

        &:hover {
            color: #007cba;
            color: var(--wp-admin-theme-color);
            cursor: pointer;
        }
    }

    .react-select__option,
    .react-select__multi-value__remove {
        cursor: pointer;
    }

    .react-select__option--is-focused,
    .react-select__option--is-selected {
        background: white;
        color: #007cba;
        color: var(--wp-admin-theme-color);
    }

    .react-select__option--is-selected {
        background: #eee;
    }

    .react-select__option--is-disabled {
        color: #cccccc !important;
    }

    // Fixes issue where editor footer is above the menu. This shifts the page up.
    .react-select__menu {
        margin-bottom: 50px;
    }
}