/* Information Popover -------------------------------------------------------*/
.information-popover {
	line-height: 0; /* Correction for button */

	.information-popover__button {
		color: #c8c8c8;
	    padding: 0;
		height: 24px;
		min-width: 20px;

		svg {
			width: 22px;
		}
		
		&:hover {
			background-color: transparent !important;
			box-shadow: none !important;
			color: #414141;
		}

		&:focus {
			box-shadow: none !important;
		}
	}
}

.information-popover__popover {
	p {
		font-size: 13px;
		color: #32373C;
		line-height: 1.5;
		margin: 0 0 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.components-popover__content {
		font-weight: 400;
		line-height: 1.4;
		padding: 12px;
		font-size: 13px;
		text-align: left;
		min-width: 200px;
		max-width: 250px;

		// Backward compatibility fix for WordPress 6.0 and lower.
		&> div {
			padding: 0;
		}
	}
}


.components-button[aria-disabled=true]:focus {
    box-shadow: none;
    outline: none;
}