@font-face {
    font-family: 'block-visibility';
    src: url('fonts/block-visibility.ttf?yfqjez') format('truetype'),
        url('fonts/block-visibility.woff?yfqjez') format('woff'),
        url('fonts/block-visibility.svg?yfqjez#block-visibility') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

// Core control icons
$hidden: "\e912";
$visible: "\e913";
$date-time: "\e911";
$screen-size: "\e90d";
$user-role: "\e90e";
$query-string: "\e90c";
$location: "\e90b";
$referral-source: "\e908";
$acf: "\e909";
$edd: "\e90a";
$woocommerce: "\e90f";
$wp-fusion: "\e910";

// Single Icon
$icon__visible: $visible;
$icon__hidden: $hidden;
$icon__date-time: $date-time;
$icon__user-role: $user-role;
$icon__screen-size: $screen-size;
$icon__query-string: $query-string;
$icon__acf: $acf;
$icon__wp-fusion: $wp-fusion;
$icon__location: $location;
$icon__referral-source: $referral-source;
$icon__edd: $edd;
$icon__woocommerce: $woocommerce;

// Two Icons
$icon__acf-date-time: $acf + $date-time;
$icon__acf-user-role: $acf + $user-role;
$icon__acf-screen-size: $acf + $screen-size;
$icon__acf-query-string: $acf + $query-string;
$icon__acf-wp-fusion: $acf + $wp-fusion;
$icon__date-time-user-role: $date-time + $user-role;
$icon__date-time-screen-size: $date-time + $screen-size;
$icon__date-time-query-string: $date-time + $query-string;
$icon__date-time-wp-fusion: $date-time + $wp-fusion;
$icon__query-string-screen-size: $query-string + $screen-size;
$icon__query-string-user-role: $query-string + $user-role;
$icon__query-string-wp-fusion: $query-string + $wp-fusion;
$icon__screen-size-wp-fusion: $screen-size + $wp-fusion;
$icon__screen-size-user-role: $screen-size + $user-role;
$icon__user-role-wp-fusion: $user-role + $wp-fusion;

$icon__acf-location: $acf + $location;
$icon__date-time-location: $date-time + $location;
$icon__edd-location: $edd + $location;
$icon__location-query-string: $location + $query-string;
$icon__location-referral-source: $location + $referral-source;
$icon__location-screen-size: $location + $screen-size;
$icon__location-user-role: $location + $user-role;
$icon__location-woocommerce: $location + $woocommerce;
$icon__location-wp-fusion: $location + $wp-fusion;

$icon__acf-referral-source: $acf + $referral-source;
$icon__date-time-referral-source: $date-time + $referral-source;
$icon__edd-referral-source: $edd + $referral-source;
$icon__query-string-referral-source: $query-string + $referral-source;
$icon__referral-source-screen-size: $screen-size + $referral-source;
$icon__referral-source-user-role: $user-role + $referral-source;
$icon__referral-source-woocommerce: $referral-source + $woocommerce;
$icon__referral-source-wp-fusion: $referral-source + $wp-fusion;

$icon__acf-edd: $acf + $edd;
$icon__date-time-edd: $date-time + $edd;
$icon__edd-user-role: $user-role + $edd;
$icon__edd-screen-size: $screen-size + $edd;
$icon__edd-query-string: $query-string + $edd;
$icon__edd-woocommerce: $edd + $woocommerce;
$icon__edd-wp-fusion: $edd + $wp-fusion;

$icon__acf-woocommerce: $woocommerce + $acf;
$icon__date-time-woocommerce: $date-time + $woocommerce;
$icon__user-role-woocommerce: $user-role + $woocommerce;
$icon__screen-size-woocommerce: $screen-size + $woocommerce;
$icon__query-string-woocommerce: $query-string + $woocommerce;
$icon__woocommerce-wp-fusion: $woocommerce + $wp-fusion;

// Multiple Icons
$icon__three-controls: "\e907";
$icon__four-controls: "\e902";
$icon__five-controls: "\e901";
$icon__six-controls: "\e905";
$icon__seven-controls: "\e904";
$icon__eight-controls: "\e900";
$icon__nine-controls: "\e903";
$icon__ten-controls: "\e906";

/* Contextual indicator styles */
.block-visibility__has-visibility {
    outline: 1px dashed rgba(0, 0, 0, 0.7);
    opacity: .5;

    // Fix for the blocks that are placeholders, like the shortcodes block
    &.components-placeholder.components-placeholder,
    &.components-placeholder {
        outline: 1px dashed rgba(0, 0, 0, 0.7);
        opacity: .5;
    }

    &.is-selected,
    &.has-child-selected {
        outline: none;
        opacity: 1;

        &.has-background-dim {
            opacity: inherit;
        }
    }

    &:before {
        font-family: 'block-visibility';
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 4px;
        line-height: 1;
        height: 24px;
        width: 28px;
        position: absolute;
        right: 2px;
        top: 4px;
        z-index: 1000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.block-visibility__has-date-time {
        &:before {
            content: $icon__date-time !important;
        }
    }

    &.block-visibility__has-user-role {
        &:before {
            content: $icon__user-role !important;
        }
    }

    &.block-visibility__has-screen-size {
        &:before {
            content: $icon__screen-size !important;
        }
    }

    &.block-visibility__has-query-string {
        &:before {
            content: $icon__query-string !important;
        }
    }

    &.block-visibility__has-wp-fusion {
        &:before {
            content: $icon__wp-fusion !important;
        }
    }

    &.block-visibility__has-acf {
        &:before {
            content: $icon__acf !important;
        }
    }

    &.block-visibility__has-location {
        &:before {
            content: $icon__location !important;
        }
    }

    &.block-visibility__has-referral-source {
        &:before {
            content: $icon__referral-source !important;
        }
    }

    &.block-visibility__has-edd {
        &:before {
            content: $icon__edd !important
        }
    }

    &.block-visibility__has-woocommerce {
        &:before {
            content: $icon__woocommerce !important;
        }
    }

    // When 2 controls are enabled.
    &.block-visibility__has-date-time-screen-size {
        &:before {
            content: $icon__date-time-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-user-role {
        &:before {
            content: $icon__date-time-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-query-string {
        &:before {
            content: $icon__date-time-query-string !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-date-time {
        &:before {
            content: $icon__acf-date-time !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-wp-fusion {
        &:before {
            content: $icon__date-time-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-screen-size-user-role {
        &:before {
            content: $icon__screen-size-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-query-string-user-role {
        &:before {
            content: $icon__query-string-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-user-role {
        &:before {
            content: $icon__acf-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-user-role-wp-fusion {
        &:before {
            content: $icon__user-role-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-query-string-screen-size {
        &:before {
            content: $icon__query-string-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-screen-size {
        &:before {
            content: $icon__acf-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-screen-size-wp-fusion {
        &:before {
            content: $icon__screen-size-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-query-string {
        &:before {
            content: $icon__acf-query-string !important;
            width: 58px;
        }
    }

    &.block-visibility__has-query-string-wp-fusion {
        &:before {
            content: $icon__query-string-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-wp-fusion {
        &:before {
            content: $icon__acf-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-location {
        &:before {
            content: $icon__date-time-location !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-user-role {
        &:before {
            content: $icon__location-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-screen-size {
        &:before {
            content: $icon__location-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-query-string {
        &:before {
            content: $icon__location-query-string !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-referral-source {
        &:before {
            content: $icon__location-referral-source !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-location {
        &:before {
            content: $icon__edd-location !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-woocommerce {
        &:before {
            content: $icon__location-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-location-wp-fusion {
        &:before {
            content: $icon__location-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-location {
        &:before {
            content: $icon__acf-location !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-referral-source {
        &:before {
            content: $icon__date-time-referral-source !important;
            width: 58px;
        }
    }

    &.block-visibility__has-referral-source-user-role {
        &:before {
            content: $icon__referral-source-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-referral-source-screen-size {
        &:before {
            content: $icon__referral-source-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-query-string-referral-source {
        &:before {
            content: $icon__query-string-referral-source !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-referral-source {
        &:before {
            content: $icon__edd-referral-source !important;
            width: 58px;
        }
    }

    &.block-visibility__has-referral-source-woocommerce {
        &:before {
            content: $icon__referral-source-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-referral-source-wp-fusion {
        &:before {
            content: $icon__referral-source-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-referral-source {
        &:before {
            content: $icon__acf-referral-source !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-edd {
        &:before {
            content: $icon__date-time-edd !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-user-role {
        &:before {
            content: $icon__edd-user-role !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-screen-size {
        &:before {
            content: $icon__edd-screen-size !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-query-string {
        &:before {
            content: $icon__edd-query-string !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-woocommerce {
        &:before {
            content: $icon__edd-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-edd-wp-fusion {
        &:before {
            content: $icon__edd-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-edd {
        &:before {
            content: $icon__acf-edd !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-woocommerce {
        &:before {
            content: $icon__acf-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-date-time-woocommerce {
        &:before {
            content: $icon__date-time-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-user-role-woocommerce {
        &:before {
            content: $icon__user-role-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-screen-size-woocommerce {
        &:before {
            content: $icon__screen-size-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-query-string-woocommerce {
        &:before {
            content: $icon__query-string-woocommerce !important;
            width: 58px;
        }
    }

    &.block-visibility__has-woocommerce-wp-fusion {
        &:before {
            content: $icon__woocommerce-wp-fusion !important;
            width: 58px;
        }
    }

    &.block-visibility__has-acf-woocommerce {
        &:before {
            content: $icon__acf-woocommerce !important;
            width: 58px;
        }
    }

    // When more than 3 controls are enabled
    &.block-visibility__has-3-controls {
        &:before {
            content: $icon__three-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-4-controls {
        &:before {
            content: $icon__four-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-5-controls {
        &:before {
            content: $icon__five-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-6-controls {
        &:before {
            content: $icon__six-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-7-controls {
        &:before {
            content: $icon__seven-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-8-controls {
        &:before {
            content: $icon__eight-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-9-controls {
        &:before {
            content: $icon__nine-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__has-10-controls {
        &:before {
            content: $icon__ten-controls !important;
            width: 58px;
        }
    }

    &.block-visibility__is-hidden {
        &:before {
            content: $icon__hidden !important;
            width: 28px !important;
        }
    }

    &.is-selected,
    &.has-child-selected {
        &:before {
            content: '' !important;
        }
    }

    // Block Specific fixes

    // Cover Block (WordPress Core) when there is a solid color set.
    &.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
        text-align: right;
        padding-top: 4px;
        height: 100%;
        width: 100%;
    }
}
