$icon__visible: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M12,5 C17,5 21.27,8.11 23,12.5 C21.27,16.89 17,20 12,20 C7,20 2.73,16.89 1,12.5 C2.73,8.11 7,5 12,5 Z M12,17.5 C14.76,17.5 17,15.26 17,12.5 C17,9.74 14.76,7.5 12,7.5 C9.24,7.5 7,9.74 7,12.5 C7,15.26 9.24,17.5 12,17.5 Z'></path><path d='M12,9.5 C10.34,9.5 9,10.84 9,12.5 C9,14.16 10.34,15.5 12,15.5 C13.66,15.5 15,14.16 15,12.5 C15,10.84 13.66,9.5 12,9.5 Z'></path></svg>";

$icon__hidden: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M19.1145976,17.6145976 C17.1357397,19.111758 14.6721169,20 12,20 C7,20 2.73,16.89 1,12.5 C2.1681438,9.53575071 4.49435577,7.15509483 7.42141271,5.92141271 L9.60854669,8.10854669 C8.05477185,8.95699413 7,10.6060682 7,12.5 C7,15.26 9.24,17.5 12,17.5 C13.8939318,17.5 15.5430059,16.4452281 16.3914533,14.8914533 L19.1145976,17.6145976 L19.1145976,17.6145976 Z'></path><path d='M20.6043865,16.2759593 L16.9972006,12.6687735 C16.9990619,12.6127432 17,12.5564805 17,12.5 C17,9.74 14.76,7.5 12,7.5 C11.9435195,7.5 11.8872568,7.50093805 11.8312265,7.50279942 L9.57740803,5.2489809 C10.3592736,5.08578831 11.1695684,5 12,5 C17,5 21.27,8.11 23,12.5 C22.4438856,13.9111805 21.6253071,15.1900957 20.6043865,16.2759593 L20.6043865,16.2759593 Z' ></path><path d='M13.6675474,14.9959745 C13.1910334,15.314476 12.6176688,15.5 12,15.5 C10.34,15.5 9,14.16 9,12.5 C9,11.8823312 9.18552396,11.3089666 9.50402547,10.8324526 L2.66116524,3.98959236 C2.27064094,3.59906807 2.27064094,2.96590309 2.66116524,2.5753788 C3.05168953,2.18485451 3.68485451,2.18485451 4.0753788,2.5753788 L21.0459415,19.5459415 C21.4364658,19.9364658 21.4364658,20.5696308 21.0459415,20.9601551 C20.6554173,21.3506794 20.0222523,21.3506794 19.631728,20.9601551 L13.6675474,14.9959745 L13.6675474,14.9959745 Z'></path></svg>";

$icon__user-roles: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M10.3230099,16.7114756 C10.2750719,16.9669907 10.25,17.2305674 10.25,17.5 L10.25,19.3711011 C6.02022538,18.7421185 2.52424259,15.8678757 1,12 C2.73,7.61 7,4.5 12,4.5 C17,4.5 21.27,7.61 23,12 C22.535229,13.17939 21.8871339,14.2663962 21.0908107,15.2255348 C20.6034444,14.4577131 19.8765876,13.8568689 19.0153344,13.5280964 C19.3232835,13.0069945 19.5,12.3991344 19.5,11.75 C19.5,9.81700338 17.9329966,8.25 16,8.25 C15.7846716,8.25 15.5738849,8.26944511 15.3693,8.30667513 C14.480312,7.49514249 13.2976279,7 12,7 C9.24,7 7,9.24 7,12 C7,14.1718406 8.3870297,16.0216922 10.3230099,16.7114756 L10.3230099,16.7114756 Z'></path><path d='M12.9846656,13.5280964 C12.2574549,13.8056999 11.6260619,14.2772769 11.1537524,14.8795618 C9.90736867,14.5152953 9,13.3659902 9,12 C9,11.1910854 9.31819549,10.4581577 9.83655875,9.91924473 C10.3819456,9.35223691 11.1489146,9 12,9 C12.5215378,9 13.0114888,9.13226964 13.4382205,9.36517645 C12.8561111,9.99020155 12.5,10.8285137 12.5,11.75 C12.5,12.3991344 12.6767165,13.0069945 12.9846656,13.5280964 L12.9846656,13.5280964 Z'></path><path d='M16,13.75 C14.8954305,13.75 14,12.8545695 14,11.75 C14,10.6454305 14.8954305,9.75 16,9.75 C17.1045695,9.75 18,10.6454305 18,11.75 C18,12.8545695 17.1045695,13.75 16,13.75 Z'></path><path d='M20.25,19.5 L11.75,19.5 L11.75,17.5 C11.75,15.9812169 12.9812169,14.75 14.5,14.75 L17.5,14.75 C19.0187831,14.75 20.25,15.9812169 20.25,17.5 L20.25,19.5 Z'></path></svg>";

$icon__date: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M19.6896577,7.34929083 C19.0008071,7.12262735 18.2647241,7 17.5,7 C16.4279118,7 15.412115,7.24101205 14.503835,7.6718108 C13.7673955,7.24462863 12.9120921,7 12,7 C9.24,7 7,9.24 7,12 C7,14.4664368 8.78883318,16.5176088 11.1390287,16.9260451 C11.5933818,17.9121373 12.2702864,18.7745488 13.1053647,19.4489015 C12.7414672,19.4827144 12.3727623,19.5 12,19.5 C7,19.5 2.73,16.39 1,12 C2.73,7.61 7,4.5 12,4.5 C14.9375381,4.5 17.6231056,5.5734638 19.6896577,7.34929083 L19.6896577,7.34929083 Z'></path><path d='M12.5503909,9.05011412 C11.2835588,10.3168759 10.5,12.066933 10.5,14 C10.5,14.2073481 10.5090153,14.4125906 10.5266752,14.6153568 C9.6144694,14.1014656 9,13.1241023 9,12 C9,11.1910854 9.31819549,10.4581577 9.83655875,9.91924473 C10.3819456,9.35223691 11.1489146,9 12,9 C12.1880653,9 12.3720234,9.01719911 12.5503909,9.05011412 L12.5503909,9.05011412 Z'></path><path d='M16.732,14.56875 C16.588,14.45625 16.5,14.3 16.5,14.125 C16.5,14.08125 16.524,14.05 16.532,14.00625 L16.524,14.00625 L17.3,11 L18.076,14.00625 L20.5,16 L16.9,14.675 L16.916,14.6625 C16.852,14.6375 16.788,14.60625 16.732,14.56875 L16.732,14.56875 Z'></path><path d='M17.5,19.5 C20.5375661,19.5 23,17.0375661 23,14 C23,10.9624339 20.5375661,8.5 17.5,8.5 C14.4624339,8.5 12,10.9624339 12,14 C12,17.0375661 14.4624339,19.5 17.5,19.5 Z M17.5,18 C15.290861,18 13.5,16.209139 13.5,14 C13.5,11.790861 15.290861,10 17.5,10 C19.709139,10 21.5,11.790861 21.5,14 C21.5,16.209139 19.709139,18 17.5,18 Z'></path></svg>";

$icon_date-roles: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M19.6896577,7.34929083 C19.0008071,7.12262735 18.2647241,7 17.5,7 C16.4279118,7 15.412115,7.24101205 14.503835,7.6718108 C13.7673955,7.24462863 12.9120921,7 12,7 C9.24,7 7,9.24 7,12 C7,14.4664368 8.78883318,16.5176088 11.1390287,16.9260451 C11.5933818,17.9121373 12.2702864,18.7745488 13.1053647,19.4489015 C12.7414672,19.4827144 12.3727623,19.5 12,19.5 C7,19.5 2.73,16.39 1,12 C2.73,7.61 7,4.5 12,4.5 C14.9375381,4.5 17.6231056,5.5734638 19.6896577,7.34929083 L19.6896577,7.34929083 Z'></path><path d='M12.5503909,9.05011412 C11.2835588,10.3168759 10.5,12.066933 10.5,14 C10.5,14.2073481 10.5090153,14.4125906 10.5266752,14.6153568 C9.6144694,14.1014656 9,13.1241023 9,12 C9,11.1910854 9.31819549,10.4581577 9.83655875,9.91924473 C10.3819456,9.35223691 11.1489146,9 12,9 C12.1880653,9 12.3720234,9.01719911 12.5503909,9.05011412 L12.5503909,9.05011412 Z'></path><path d='M16.732,14.56875 C16.588,14.45625 16.5,14.3 16.5,14.125 C16.5,14.08125 16.524,14.05 16.532,14.00625 L16.524,14.00625 L17.3,11 L18.076,14.00625 L20.5,16 L16.9,14.675 L16.916,14.6625 C16.852,14.6375 16.788,14.60625 16.732,14.56875 L16.732,14.56875 Z'></path><path d='M17.5,19.5 C20.5375661,19.5 23,17.0375661 23,14 C23,10.9624339 20.5375661,8.5 17.5,8.5 C14.4624339,8.5 12,10.9624339 12,14 C12,17.0375661 14.4624339,19.5 17.5,19.5 Z M17.5,18 C15.290861,18 13.5,16.209139 13.5,14 C13.5,11.790861 15.290861,10 17.5,10 C19.709139,10 21.5,11.790861 21.5,14 C21.5,16.209139 19.709139,18 17.5,18 Z'></path><path d='M38.3230099,16.7114756 C38.2750719,16.9669907 38.25,17.2305674 38.25,17.5 L38.25,19.3711011 C34.0202254,18.7421185 30.5242426,15.8678757 29,12 C30.73,7.61 35,4.5 40,4.5 C45,4.5 49.27,7.61 51,12 C50.535229,13.17939 49.8871339,14.2663962 49.0908107,15.2255348 C48.6034444,14.4577131 47.8765876,13.8568689 47.0153344,13.5280964 C47.3232835,13.0069945 47.5,12.3991344 47.5,11.75 C47.5,9.81700338 45.9329966,8.25 44,8.25 C43.7846716,8.25 43.5738849,8.26944511 43.3693,8.30667513 C42.480312,7.49514249 41.2976279,7 40,7 C37.24,7 35,9.24 35,12 C35,14.1718406 36.3870297,16.0216922 38.3230099,16.7114756 L38.3230099,16.7114756 Z'></path><path d='M40.9846656,13.5280964 C40.2574549,13.8056999 39.6260619,14.2772769 39.1537524,14.8795618 C37.9073687,14.5152953 37,13.3659902 37,12 C37,11.1910854 37.3181955,10.4581577 37.8365587,9.91924473 C38.3819456,9.35223691 39.1489146,9 40,9 C40.5215378,9 41.0114888,9.13226964 41.4382205,9.36517645 C40.8561111,9.99020155 40.5,10.8285137 40.5,11.75 C40.5,12.3991344 40.6767165,13.0069945 40.9846656,13.5280964 L40.9846656,13.5280964 Z'></path><path d='M44,13.75 C42.8954305,13.75 42,12.8545695 42,11.75 C42,10.6454305 42.8954305,9.75 44,9.75 C45.1045695,9.75 46,10.6454305 46,11.75 C46,12.8545695 45.1045695,13.75 44,13.75 Z'></path><path d='M48.25,19.5 L39.75,19.5 L39.75,17.5 C39.75,15.9812169 40.9812169,14.75 42.5,14.75 L45.5,14.75 C47.0187831,14.75 48.25,15.9812169 48.25,17.5 L48.25,19.5 Z'></path></svg>";


.visibility-controls__container {
    padding-top: 10px;

    .visibility-control__group {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control {
        margin-bottom: 16px;

        &.is-open {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control__label {
        margin-bottom: 8px;
    }

    .visibility-control__help {
        font-size: 12px;
        font-style: normal;
        color: rgb(117, 117, 117);
        margin-bottom: 12px;
    }

    .settings-label {
        margin-bottom: 8px;
    }

    .help {
        font-size: 12px;
        font-style: normal;
        color: rgb(117, 117, 117);
    }

    .components-panel__body.is-opened>.components-panel__body-title {
        margin-bottom: 10px;
    }

    .components-radio-control__option {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        input {
            vertical-align: top;
            margin-top: 2px;
        }

        .compound-radio-label {
            display: inline-block;
            font-weight: 600;

            span {
                display: block;
                font-weight: 400;
                max-width: 200px;
                font-size: 12px;
                font-style: normal;
                color: rgb(117, 117, 117);
            }
        }
    }

    /* Specific styles for the User Roles visibility control */
    .user-roles__container {
        margin-bottom: 24px;

        .user-role {
            margin-bottom: 10px;
        }
    }


    .block-visibility-controls {
        padding-top: 10px;

        &>div {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .components-notice {
            margin: 0;
        }

        /* Specific styles for the Hide Block visibility control */
        .visibility-controls__hide-block {

        }

        /* Specific styles for the Date Time visibility control */
        .visibility-controls__date-time {

            &>div {
                margin-bottom: 24px;
            }
            .date-time-field__container {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }

                .date-time-field {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4px;

                    .components-button {
                        padding: 0;

                        &:first-child {
                            margin-left: -2px;
                        }

                        &.is-link {
                            text-decoration: none;

                            svg {
                                margin-right: 4px;
                            }
                        }

                        &.clear-date-time {
                            width: 24px;
                            min-width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}

.block-visibility__date-time-popover {
    & > div {
        padding: 12px;
    }
    .date-time-header {
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 16px;

        display: flex;
        justify-content: space-between;
    }
}

.block-visibility__has-visibility {
    outline: 2px dashed rgba(0, 0, 0, 0.7);
    opacity: .5;

    &.is-selected,
    &.has-child-selected {
        outline: none;
        opacity: 1;
    }

    &:not( .block-visibility__set-icon-background ) {
        &:before {
            content: "";
            height: 24px;
            width: 24px;
            position: absolute;
            right: 8px;
            top: 4px;
            z-index: 1000;
        }

        &.block-visibility__has-roles {
            &:before {
                background: url( $icon__user-roles );
            }
        }

        &.block-visibility__has-date-time {
            &:before {
                background: url( $icon__date );
            }
        }

        &.block-visibility__has-date-time {
            &.block-visibility__has-roles {
                &:before {
                    background: url( $icon_date-roles );
                    width: 52px;
                }

                &.block-visibility__is-hidden {
                    &:before {
                        background: url( $icon__hidden );
                        width: 24px;
                    }
                }
            }
        }

        &.block-visibility__is-hidden {
            &:before {
                background: url( $icon__hidden );
            }
        }

        &.is-selected,
        &.has-child-selected {
            &:before {
                background: none !important;
            }
        }

        // Block Specific fixes

        // Cover Block (WordPress Core) when there is a solid color set.
        &.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
            left: initial;
            bottom: initial;
            right: 8px;
            top: 4px;
            opacity: 1;
        }
    }

    // Alternative styling for blocks that use the pseudo class :before. In
    // these cases we set a background image instead.
    &.block-visibility__set-icon-background {
        background-repeat: no-repeat;
        background-position: calc(100% - 8px) 4px;
        background-size: 24px 24px;

        &.block-visibility__has-roles {
            background-image: url( $icon__user-roles );
        }

        &.block-visibility__has-date-time {
            background-image: url( $icon__date );
        }

        &.block-visibility__has-date-time {
            &.block-visibility__has-roles {
                background-image: url( $icon_date-roles );
                background-size: 52px 24px;

                &.block-visibility__is-hidden {
                    background-image: url( $icon__hidden );
                }
            }
        }

        &.block-visibility__is-hidden {
            background-image: url( $icon__hidden );
        }

        &.is-selected,
        &.has-child-selected {
            background-image: none !important;
        }

        // Block Specific fixes
    }
}

// Bit of a hack and applies to all celendar components, should be removed at some point.
.CalendarDay__today {
    background: #f5f5f5;
}
