$icon__visible: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M12,5 C17,5 21.27,8.11 23,12.5 C21.27,16.89 17,20 12,20 C7,20 2.73,16.89 1,12.5 C2.73,8.11 7,5 12,5 Z M12,17.5 C14.76,17.5 17,15.26 17,12.5 C17,9.74 14.76,7.5 12,7.5 C9.24,7.5 7,9.74 7,12.5 C7,15.26 9.24,17.5 12,17.5 Z'></path><path d='M12,9.5 C10.34,9.5 9,10.84 9,12.5 C9,14.16 10.34,15.5 12,15.5 C13.66,15.5 15,14.16 15,12.5 C15,10.84 13.66,9.5 12,9.5 Z'></path></svg>";

$icon__hidden: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M19.1145976,17.6145976 C17.1357397,19.111758 14.6721169,20 12,20 C7,20 2.73,16.89 1,12.5 C2.1681438,9.53575071 4.49435577,7.15509483 7.42141271,5.92141271 L9.60854669,8.10854669 C8.05477185,8.95699413 7,10.6060682 7,12.5 C7,15.26 9.24,17.5 12,17.5 C13.8939318,17.5 15.5430059,16.4452281 16.3914533,14.8914533 L19.1145976,17.6145976 L19.1145976,17.6145976 Z'></path><path d='M20.6043865,16.2759593 L16.9972006,12.6687735 C16.9990619,12.6127432 17,12.5564805 17,12.5 C17,9.74 14.76,7.5 12,7.5 C11.9435195,7.5 11.8872568,7.50093805 11.8312265,7.50279942 L9.57740803,5.2489809 C10.3592736,5.08578831 11.1695684,5 12,5 C17,5 21.27,8.11 23,12.5 C22.4438856,13.9111805 21.6253071,15.1900957 20.6043865,16.2759593 L20.6043865,16.2759593 Z' ></path><path d='M13.6675474,14.9959745 C13.1910334,15.314476 12.6176688,15.5 12,15.5 C10.34,15.5 9,14.16 9,12.5 C9,11.8823312 9.18552396,11.3089666 9.50402547,10.8324526 L2.66116524,3.98959236 C2.27064094,3.59906807 2.27064094,2.96590309 2.66116524,2.5753788 C3.05168953,2.18485451 3.68485451,2.18485451 4.0753788,2.5753788 L21.0459415,19.5459415 C21.4364658,19.9364658 21.4364658,20.5696308 21.0459415,20.9601551 C20.6554173,21.3506794 20.0222523,21.3506794 19.631728,20.9601551 L13.6675474,14.9959745 L13.6675474,14.9959745 Z'></path></svg>";

$icon__user-roles: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><circle cx='7.5' cy='8' r='3'></circle><circle cx='16.5' cy='8' r='3'></circle><path d='M1,19.2119629 L1,16.5 C1,14.5670034 2.56700338,13 4.5,13 L10.5,13 C12.4329966,13 14,14.5670034 14,16.5 L14,17.864502 C14,17.8762589 13.9983601,17.8878993 13.9951172,17.8994229 L13.9951172,19.2119629 C13.9951172,20.2057129 13.1312779,21.0119629 12.0665458,21.0119629 L6.99511719,21 L2.92857143,21.0119629 C1.86383929,21.0119629 1,20.2057129 1,19.2119629 Z'></path><path d='M19.5,13 C21.4329966,13 23,14.5670034 23,16.5 L22.994308,16.4995934 L22.9975586,16.5 L22.9975586,19.2239258 C22.9975586,20.2176758 22.1337193,21 21.0689872,21 L15.5,21 C15.792721,20.4698694 15.9951172,19.8623874 15.9951172,19.2119629 L16,16.5 C16,15.1703708 15.2966919,13.8563843 14.5,13 L19.5,13 Z'></path></svg>";

$icon__date-roles: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M47.0714286,3 C48.1361607,3 49,3.78024194 49,4.74193548 L49,6 L31,6 L31,4.74193548 C31,3.78024194 31.8638393,3 32.9285714,3 L47.0714286,3 Z'></path><path d='M49,7.5 L49.0013298,11.255617 C47.8672447,10.4641776 46.4878296,10 45,10 C41.1340068,10 38,13.1340068 38,17 C38,18.4878296 38.4641776,19.8672447 39.255617,21.0013298 L32.9285714,21 C31.8638393,21 31,20.1946259 31,19.2019554 L31,7.5 L49,7.5 Z M37,10.5 L34,10.5 L34,13.4967409 L37,13.4967409 L37,10.5 Z'></path><path d='M44.9945,11.5 C48.036,11.5 50.5,13.964 50.5,17 C50.5,20.036 48.036,22.5 44.9945,22.5 C41.9585,22.5 39.5,20.036 39.5,17 C39.5,13.964 41.9585,11.5 44.9945,11.5 Z M45.55,13.975 L44.175,13.975 L44.175,17.7057024 L47.4301459,19.6587899 L48.129698,18.5115245 L45.55,16.9809037 L45.55,13.975 Z'></path><circle cx='7.5' cy='8' r='3'></circle><circle cx='16.5' cy='8' r='3'></circle><path d='M1,19.2119629 L1,16.5 C1,14.5670034 2.56700338,13 4.5,13 L10.5,13 C12.4329966,13 14,14.5670034 14,16.5 L14,17.864502 C14,17.8762589 13.9983601,17.8878993 13.9951172,17.8994229 L13.9951172,19.2119629 C13.9951172,20.2057129 13.1312779,21.0119629 12.0665458,21.0119629 L6.99511719,21 L2.92857143,21.0119629 C1.86383929,21.0119629 1,20.2057129 1,19.2119629 Z'></path><path d='M19.5,13 C21.4329966,13 23,14.5670034 23,16.5 L22.994308,16.4995934 L22.9975586,16.5 L22.9975586,19.2239258 C22.9975586,20.2176758 22.1337193,21 21.0689872,21 L15.5,21 C15.792721,20.4698694 15.9951172,19.8623874 15.9951172,19.2119629 L16,16.5 C16,15.1703708 15.2966919,13.8563843 14.5,13 L19.5,13 Z'></path></svg>";

$icon__date: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M19.0714286,3 C20.1361607,3 21,3.78024194 21,4.74193548 L21,6 L3,6 L3,4.74193548 C3,3.78024194 3.86383929,3 4.92857143,3 L19.0714286,3 Z'></path><path d='M21,7.5 L21.0013298,11.255617 C19.8672447,10.4641776 18.4878296,10 17,10 C13.1340068,10 10,13.1340068 10,17 C10,18.4878296 10.4641776,19.8672447 11.255617,21.0013298 L4.92857143,21 C3.86383929,21 3,20.1946259 3,19.2019554 L3,7.5 L21,7.5 Z M9,10.5 L6,10.5 L6,13.4967409 L9,13.4967409 L9,10.5 Z'></path><path d='M16.9945,11.5 C20.036,11.5 22.5,13.964 22.5,17 C22.5,20.036 20.036,22.5 16.9945,22.5 C13.9585,22.5 11.5,20.036 11.5,17 C11.5,13.964 13.9585,11.5 16.9945,11.5 Z M17.55,13.975 L16.175,13.975 L16.175,17.7057024 L19.4301459,19.6587899 L20.129698,18.5115245 L17.55,16.9809037 L17.55,13.975 Z'></path></svg>";

$icon__screen-size: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M20.0714286,3 C21.0854592,3 21.9172741,3.73049807 21.9941951,4.65757536 L22,4.79804456 L22,14 L10.5,14 L10.5,11.5 C10.5,10.1745166 9.46846406,9.08996133 8.16437569,9.00531768 L8,9 L4,9 L4,4.79804456 C4,3.85264415 4.7835277,3.07712701 5.77790504,3.005412 L5.92857143,3 L20.0714286,3 Z'></path><path d='M22,15.5 L22,16.7580645 C22,17.6716734 21.220385,18.4215222 20.2295488,18.494223 L20.0714286,18.5 L16,18.5 L16,19.5 C16,20.0522847 15.5522847,20.5 15,20.5 L11,20.5 C10.8172893,20.5 10.6460233,20.4509991 10.4986267,20.3654219 L10.4996267,15.5 L22,15.5 Z'></path><path d='M8,10.5 C8.55228475,10.5 9,10.9477153 9,11.5 L9,21.5 C9,22.0522847 8.55228475,22.5 8,22.5 L3,22.5 C2.44771525,22.5 2,22.0522847 2,21.5 L2,11.5 C2,10.9477153 2.44771525,10.5 3,10.5 L8,10.5 Z M5.5,18.5 C4.94771525,18.5 4.5,18.9477153 4.5,19.5 C4.5,20.0522847 4.94771525,20.5 5.5,20.5 C6.05228475,20.5 6.5,20.0522847 6.5,19.5 C6.5,18.9477153 6.05228475,18.5 5.5,18.5 Z'></path></svg>";

$icon__screen-date: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M47.0714286,3 C48.1361607,3 49,3.78024194 49,4.74193548 L49,6 L31,6 L31,4.74193548 C31,3.78024194 31.8638393,3 32.9285714,3 L47.0714286,3 Z'></path><path d='M48.9986703,7.5 L49,11.2552472 C47.8659987,10.4638856 46.4866855,9.99975377 44.9989658,9.99975377 C41.1332581,9.99975377 37.9994829,13.1334519 37.9994829,16.9990643 C37.9994829,18.4867474 38.4636262,19.8660267 39.2550072,21 L32.928429,20.9986704 C31.8637755,20.9986704 31,20.1933756 31,19.2008029 L31,7.5 L48.9986703,7.5 Z M36.9995568,10.4997045 L33.9997784,10.4997045 L33.9997784,13.4961503 L36.9995568,13.4961503 L36.9995568,10.4997045 Z'></path><path d='M44.9945,11.5 C48.036,11.5 50.5,13.964 50.5,17 C50.5,20.036 48.036,22.5 44.9945,22.5 C41.9585,22.5 39.5,20.036 39.5,17 C39.5,13.964 41.9585,11.5 44.9945,11.5 Z M45.55,13.975 L44.175,13.975 L44.175,17.7057024 L47.4301459,19.6587899 L48.129698,18.5115245 L45.55,16.9809037 L45.55,13.975 Z'></path><path d='M20.0714286,3 C21.0854592,3 21.9172741,3.73049807 21.9941951,4.65757536 L22,4.79804456 L22,14 L10.5,14 L10.5,11.5 C10.5,10.1745166 9.46846406,9.08996133 8.16437569,9.00531768 L8,9 L4,9 L4,4.79804456 C4,3.85264415 4.7835277,3.07712701 5.77790504,3.005412 L5.92857143,3 L20.0714286,3 Z'></path><path d='M22,15 L22,16.2580645 C22,17.1716734 21.1865859,17.9215222 20.1527933,17.994223 L19.9878179,18 L15.739878,18 L15.739878,19 C15.739878,19.5522847 15.2727527,20 14.6965244,20 L10.5231097,20 C10.3324778,20 10.1537868,19.9509991 10,19.8654219 L10.0010434,15 L22,15 Z'></path><path d='M8,10 C8.55228475,10 9,10.4477153 9,11 L9,21 C9,21.5522847 8.55228475,22 8,22 L3,22 C2.44771525,22 2,21.5522847 2,21 L2,11 C2,10.4477153 2.44771525,10 3,10 L8,10 Z M5.5,18 C4.94771525,18 4.5,18.4477153 4.5,19 C4.5,19.5522847 4.94771525,20 5.5,20 C6.05228475,20 6.5,19.5522847 6.5,19 C6.5,18.4477153 6.05228475,18 5.5,18 Z'></path></svg>";

$icon__screen-roles: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><circle cx='36' cy='8' r='3'></circle><circle cx='45' cy='8' r='3'></circle><path d='M29,19.2026876 L29,16.4947741 C29,14.5646636 30.5670034,13 32.5,13 L38.5,13 C40.4329966,13 42,14.5646636 42,16.4947741 L42,17.8572386 C42,17.8689781 41.9983601,17.8806011 41.9951172,17.8921075 L41.9951172,19.2026876 C41.9951172,20.1949538 41.1312779,21 40.0665458,21 L34.9951172,20.988055 L30.9285714,21 C29.8638393,21 29,20.1949538 29,19.2026876 Z'></path><path d='M20.0714286,3 C21.0854592,3 21.9172741,3.73049807 21.9941951,4.65757536 L22,4.79804456 L22,14 L10.5,14 L10.5,11.5 C10.5,10.1745166 9.46846406,9.08996133 8.16437569,9.00531768 L8,9 L4,9 L4,4.79804456 C4,3.85264415 4.7835277,3.07712701 5.77790504,3.005412 L5.92857143,3 L20.0714286,3 Z'></path><path d='M22,15.5 L22,16.7580645 C22,17.6716734 21.220385,18.4215222 20.2295488,18.494223 L20.0714286,18.5 L16,18.5 L16,19.5 C16,20.0522847 15.5522847,20.5 15,20.5 L11,20.5 C10.8172893,20.5 10.6460233,20.4509991 10.4986267,20.3654219 L10.4996267,15.5 L22,15.5 Z'></path><path d='M8,10.5 C8.55228475,10.5 9,10.9477153 9,11.5 L9,21.5 C9,22.0522847 8.55228475,22.5 8,22.5 L3,22.5 C2.44771525,22.5 2,22.0522847 2,21.5 L2,11.5 C2,10.9477153 2.44771525,10.5 3,10.5 L8,10.5 Z M5.5,18.5 C4.94771525,18.5 4.5,18.9477153 4.5,19.5 C4.5,20.0522847 4.94771525,20.5 5.5,20.5 C6.05228475,20.5 6.5,20.0522847 6.5,19.5 C6.5,18.9477153 6.05228475,18.5 5.5,18.5 Z'></path><path d='M47.2941176,13 C49.34082,13 51,14.5670034 51,16.5 L50.9939732,16.4995934 L50.997415,16.5 L50.997415,19.2239258 C50.997415,20.2176758 50.0827616,21 48.9553982,21 L43.0588235,21 C43.3687635,20.4698694 43.5830653,19.8623874 43.5830653,19.2119629 L43.5882353,16.5 C43.5882353,15.1703708 42.8435561,13.8563843 42,13 L47.2941176,13 Z'></path></svg>";

$icon__screen-roles-date: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M75.0714286,3 C76.1361607,3 77,3.78024194 77,4.74193548 L77,6 L59,6 L59,4.74193548 C59,3.78024194 59.8638393,3 60.9285714,3 L75.0714286,3 Z'></path><path d='M76.9986703,7.5 L77,11.2552472 C75.8659987,10.4638856 74.4866855,9.99975377 72.9989658,9.99975377 C69.1332581,9.99975377 65.9994829,13.1334519 65.9994829,16.9990643 C65.9994829,18.4867474 66.4636262,19.8660267 67.2550072,21 L60.928429,20.9986704 C59.8637755,20.9986704 59,20.1933756 59,19.2008029 L59,7.5 L76.9986703,7.5 Z M64.9995568,10.4997045 L61.9997784,10.4997045 L61.9997784,13.4961503 L64.9995568,13.4961503 L64.9995568,10.4997045 Z'></path><path d='M72.9945,11.5 C76.036,11.5 78.5,13.964 78.5,17 C78.5,20.036 76.036,22.5 72.9945,22.5 C69.9585,22.5 67.5,20.036 67.5,17 C67.5,13.964 69.9585,11.5 72.9945,11.5 Z M73.55,13.975 L72.175,13.975 L72.175,17.7057024 L75.4301459,19.6587899 L76.129698,18.5115245 L73.55,16.9809037 L73.55,13.975 Z'></path><circle cx='36' cy='8' r='3'></circle><circle cx='45' cy='8' r='3'></circle><path d='M29,19.2026876 L29,16.4947741 C29,14.5646636 30.5670034,13 32.5,13 L38.5,13 C40.4329966,13 42,14.5646636 42,16.4947741 L42,17.8572386 C42,17.8689781 41.9983601,17.8806011 41.9951172,17.8921075 L41.9951172,19.2026876 C41.9951172,20.1949538 41.1312779,21 40.0665458,21 L34.9951172,20.988055 L30.9285714,21 C29.8638393,21 29,20.1949538 29,19.2026876 Z'></path><path d='M20.0714286,3 C21.0854592,3 21.9172741,3.73049807 21.9941951,4.65757536 L22,4.79804456 L22,14 L10.5,14 L10.5,11.5 C10.5,10.1745166 9.46846406,9.08996133 8.16437569,9.00531768 L8,9 L4,9 L4,4.79804456 C4,3.85264415 4.7835277,3.07712701 5.77790504,3.005412 L5.92857143,3 L20.0714286,3 Z'></path><path d='M22,15.5 L22,16.7580645 C22,17.6716734 21.220385,18.4215222 20.2295488,18.494223 L20.0714286,18.5 L16,18.5 L16,19.5 C16,20.0522847 15.5522847,20.5 15,20.5 L11,20.5 C10.8172893,20.5 10.6460233,20.4509991 10.4986267,20.3654219 L10.4996267,15.5 L22,15.5 Z'></path><path d='M8,10.5 C8.55228475,10.5 9,10.9477153 9,11.5 L9,21.5 C9,22.0522847 8.55228475,22.5 8,22.5 L3,22.5 C2.44771525,22.5 2,22.0522847 2,21.5 L2,11.5 C2,10.9477153 2.44771525,10.5 3,10.5 L8,10.5 Z M5.5,18.5 C4.94771525,18.5 4.5,18.9477153 4.5,19.5 C4.5,20.0522847 4.94771525,20.5 5.5,20.5 C6.05228475,20.5 6.5,20.0522847 6.5,19.5 C6.5,18.9477153 6.05228475,18.5 5.5,18.5 Z'></path><path d='M47.2941176,13 C49.34082,13 51,14.5670034 51,16.5 L50.9939732,16.4995934 L50.997415,16.5 L50.997415,19.2239258 C50.997415,20.2176758 50.0827616,21 48.9553982,21 L43.0588235,21 C43.3687635,20.4698694 43.5830653,19.8623874 43.5830653,19.2119629 L43.5882353,16.5 C43.5882353,15.1703708 42.8435561,13.8563843 42,13 L47.2941176,13 Z'></path></svg>";


.visibility-controls__container {
    padding-top: 10px;

    .components-disabled {
        opacity: .4;

        * {
            opacity: 1 !important;
        }
    }

    .visibility-control__group {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control__group-heading {
        font-weight: 500;
        margin-bottom: 16px;
    }

    .visibility-control {
        margin-bottom: 16px;

        &.is-open {
            margin-bottom: 24px;

            &>.components-base-control {
                margin-bottom: 12px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control__label {
        margin-bottom: 8px;
    }

    .visibility-control__help {
        font-size: 12px;
        font-style: normal;
        color: rgb(117, 117, 117);
        margin-bottom: 12px;
    }

    /* Specific styling for radion controls with help text */
    .compound-radio-control {
        .components-radio-control__option {

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            input {
                vertical-align: top;
                margin-top: 2px;
                margin-right: 12px;
            }

            .compound-radio-label {
                display: inline-block;

                span {
                    display: block;
                    font-weight: 400;
                    max-width: 200px;
                    font-size: 12px;
                    font-style: normal;
                    color: rgb(117, 117, 117);
                    margin-top: 2px;
                }
            }
        }
    }

    /* Specific styles for the Date Time visibility control */
    .hide-block-control {
        margin-bottom: 20px;
    }

    /* Specific styles for the Date Time visibility control */
    .date-time-control {
        .components-base-control {
            margin-bottom: 20px;
        }

        .date-time-field {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            .components-button {
                padding: 0;

                &:first-child {
                    margin-left: -2px;
                }

                &.is-link {
                    color: var( --wp-admin-theme-color );
                    text-decoration: none;

                    svg {
                        margin-right: 4px;
                    }
                }

                &.clear-date-time {
                    width: 24px;
                    min-width: 24px;
                    height: 24px;
                }
            }
        }
    }

    /* Specific styles for the User Roles visibility control */
    .user-role-control {
        .user-roles__container {
            margin-bottom: 24px;

            .user-role {
                margin-bottom: 10px;
            }
        }
    }

    /* Specific styles for the Screen Size visibility control */
    .screen-size-control {
        .components-base-control {
            margin-bottom: 18px;
        }
    }

    .components-notice {
        margin: 10px 0;

        .components-notice__content {
            margin: 2px 0;

            .visibility-control__help {
                display: inline-block;
                margin: 4px 0 0;
            }
        }
    }
}

/* Date/Time calendar popover styles */
.block-visibility__date-time-popover {
    & > div {
        padding: 12px;
    }
    .date-time-header {
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        padding-bottom: 12px;
        margin-bottom: 16px;

        display: flex;
        justify-content: space-between;
    }
}

/* Control set styles */
.block-visibility__control-popover {
    &>div {
        min-width: 180px;
        padding: 12px 8px;
    }

    .components-menu-group__label {
        padding: 0 12px;
    }
}

.block-visibility__control-set {
    margin-bottom: 30px;

    .block-visibility__control-set-header {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 30px;

        h3 {
            font-weight: 500;
            color: #757575;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .5px;
            margin: 8px 0;
        }
    }
}

$icon__color: #000000;

/* Contextual indicator styles */
.block-visibility__has-visibility {
    outline: 2px dashed rgba(0, 0, 0, 0.7);
    opacity: .5;

    // Fix for the blocks that are placeholders, like the shortcodes block
    &.components-placeholder {
        outline: 2px dashed rgba(0, 0, 0, 0.7);
        opacity: .5;
    }

    &.is-selected,
    &.has-child-selected {
        outline: none;
        opacity: 1;
    }

    &:not( .block-visibility__set-icon-background ) {
        &:before {
            content: "";
            height: 24px;
            width: 24px;
            position: absolute;
            right: 6px;
            top: 4px;
            z-index: 1000;
            background-color: $icon__color;
            -webkit-mask-size: cover;
            mask-size: cover;
        }

        &.block-visibility__has-roles {
            &:before {
                mask: url( $icon__user-roles );
                -webkit-mask: url( $icon__user-roles );
            }
        }

        &.block-visibility__has-date-time {
            &:before {
                mask: url( $icon__date );
                -webkit-mask: url( $icon__date );
            }
        }

        &.block-visibility__has-screen-size {
            &:before {
                mask: url( $icon__screen-size );
                -webkit-mask: url( $icon__screen-size );
            }
        }

        // Display the multiple icons.
        &.block-visibility__has-date-time {

            &.block-visibility__has-screen-size {
                &:before {
                    mask: url( $icon__screen-date );
                    -webkit-mask: url( $icon__screen-date );
                    width: 52px;
                }
            }

            &.block-visibility__has-roles {
                &:before {
                    mask: url( $icon__date-roles );
                    -webkit-mask: url( $icon__date-roles );
                    width: 52px;
                }

                &.block-visibility__has-screen-size {
                    &:before {
                        mask: url( $icon__screen-roles-date );
                        -webkit-mask: url( $icon__screen-roles-date );
                        width: 80px;
                    }
                }
            }
        }

        &.block-visibility__has-roles {
            &.block-visibility__has-screen-size {

                &:before {
                    mask: url( $icon__screen-roles );
                    -webkit-mask: url( $icon__screen-roles );
                    width: 52px;
                }
            }
        }

        &.block-visibility__is-hidden {
            &:before {
                mask: url( $icon__hidden ) !important;
                -webkit-mask: url( $icon__hidden ) !important;
                width: 24px !important;
            }
        }

        &.is-selected,
        &.has-child-selected {
            &:before {
                background: none !important;
            }
        }

        // Block Specific fixes

        // Cover Block (WordPress Core) when there is a solid color set.
        &.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
            background-color: $icon__color;
            left: initial;
            bottom: initial;
            right: 6px;
            top: 4px;
            opacity: 1;
        }
    }

    // Alternative styling for blocks that use the pseudo class :before. In
    // these cases we set a background image instead. Does not work with
    // different colors, only black.
    &.block-visibility__set-icon-background {
        background-repeat: no-repeat;
        background-position: calc(100% - 8px) 4px;
        background-size: 24px 24px;

        &.block-visibility__has-roles {
            background-image: url( $icon__user-roles );
        }

        &.block-visibility__has-date-time {
            background-image: url( $icon__date );
        }

        &.block-visibility__has-screen-size {
            background-image: url( $icon__screen-size );
        }

        // Display the multiple icons.
        &.block-visibility__has-date-time {

            &.block-visibility__has-screen-size {
                background-image: url( $icon__screen-date );
                background-size: 52px 24px;
            }

            &.block-visibility__has-roles {
                background-image: url( $icon__date-roles );
                background-size: 52px 24px;

                &.block-visibility__has-screen-size {
                    background-image: url( $icon__screen-roles-date );
                    background-size: 80px 24px;
                }
            }
        }

        &.block-visibility__has-roles {

            &.block-visibility__has-screen-size {
                background-image: url( $icon__screen-roles );
                background-size: 52px 24px;
            }
        }

        &.block-visibility__is-hidden {
            background-image: url( $icon__hidden ) !important;
            background-size: 24px 24px !important;
        }

        &.is-selected,
        &.has-child-selected {
            background-image: none !important;
        }

        // Block Specific fixes
    }
}

// Bit of a hack and applies to all celendar components, should be removed at some point.
.CalendarDay__today {
    background: #f5f5f5;
}

// Fixes the missing background color of notices.
.components-notice.is-notice {
    background: #e8f5f9;
    border-color: #007cba;
}

.control-set__notice {
    li.tip {
        padding-left: 5px;
        margin-bottom: 10px;

        &::marker {
            font-weight: bold;
            font-size: 14px;
        }
    }
}
