.block-visibility-preset-manager-modal {
    min-width: 80%;
    min-height: 80%;
    max-width: 80%;
    height: 80%;

    .components-modal__content {
        padding: 0;
        margin-top: 0;

        // Fixes needed for pre 5.9.
        flex: 1;
        overflow: auto;

        &:before {
            content: "";
            display: block;
            margin-bottom: 60px;
        }
    }

    .components-modal__header {
        background: #fff;
        position: absolute;
        width: 100%;
        margin: 0;
    }

    .components-notice {
        margin: 0 !important;

        // Needed to fix color error in Notice component
        &.is-error {
            background-color: #f8ebea;
        }
    }

    .preset-manager {
        display: flex;
        height: calc(100% - 60px);
        overflow: hidden;

        .preset-manager__sidebar {
            width: 280px;
            flex-shrink: 0;
            padding: 32px;
            border-right: 1px solid #ddd;
            overflow: scroll;

            .sidebar__presets-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                margin-top: 32px;

                span {
                    color: #757575;
                    font-size: 11px;
                    font-weight: 500;
                    text-transform: uppercase;
                    white-space: nowrap;
                }

                .components-button {
                    padding: 0;
                    height: 24px;
                    width: 24px;
                    min-width: 24px;
                }
            }

            .components-spinner {
                margin: 32px auto;
                display: block;
            }

            .sidebar__presets-no-results {
                margin-top: 32px;
                padding: 32px;
                text-align: center;

                svg {
                    fill: #949494;
                }
            }

            .sidebar__presets-placeholder {
                margin-top: 18px;

                span {
                    background: #f1f1f1;
                    border-radius: 2px;
                    display: inline-block;
                    height: 16px;
                    margin-bottom: 8px;
                    width: 80%;

                    &:nth-child(even) {
                        width: 70%;
                    }
                }
            }

            .components-menu-group {
                margin-bottom: 16px;

                .components-button {
                    margin: 0 -12px;
                    width: calc( 100% + 24px);

                    &.is-active {
                        background: #f0f0f0;
                        font-weight: 500;
                    }

                    .components-menu-item__item {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        width: 100%;

                        .title {
                            display: inline-block;
                            overflow: hidden;
                            text-align: left;
                            text-overflow: ellipsis;
                        }

                        .is-disabled {
                            margin-left: 8px;
                            display: flex;

                            svg {
                                width: 6px;
                                height: 6px;
                                fill: #cc1818;
                            }
                        }
                    }
                }
            }
        }

        .preset-manager__content {
            background-color: #f1f1f1;
            overflow: scroll;
            width: 100%;

            .preset-manager__content-placeholder {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }

            /* @TODO Fix styling on sticky header */
            .preset-manager__preset-header {
                background: #fff;
                border-bottom: 1px solid #ddd;

                .preset-header__toolbar {
                    border-bottom: 1px solid #ddd;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 24px 0 32px;
                    height: 60px;
                    position: absolute;
                    width: calc(100% - 280px);
                    background: #fff;
                    z-index: 1000;

                    .toolbar__control-set-tools {
                        display: flex;

                        .components-button:first-child {
                            height: 32px;
                            margin-right: 8px;
                            min-width: 32px;
                            padding: 0;
                            width: 32px;
                        }

                        .components-button.is-pressed {
                            background: #fff;
                            color: var( --wp-admin-theme-color );
                        }
                    }

                    .toolbar__publish-tools {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .components-dropdown-menu {
                            margin-left: 4px;
                        }
                    }
                }

                .preset-header__notices {
                    padding: 32px 24px 32px 32px;
                    margin-bottom: 24px
                }

                .preset-header__settings {
                    display: flex;
                    justify-content: space-between;
                    gap: 64px;
                    padding: 92px 24px 32px 32px;

                    .preset-title {
                        width: 100%;

                        .components-toggle-control {
                            margin-top: 18px;
                        }

                        .components-base-control__field {
                            margin-bottom: 0;
                        }

                        .preset-title__label {
                            margin-bottom: 8px;
                        }

                        .preset-title__meta {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 8px;
                            color: #757575;
                            font-size: 11px;
                        }
                    }

                    .preset-controls {
                        width: 250px;
                        flex-shrink: 0;

                        .components-toggle-control {
                            margin-bottom: 16px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .components-base-control__help {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .control-sets {
                background-color: #f1f1f1;

                /* Makes the sets look better when disabled */
                .control-set-disabled {
                    background-color: #fff;
                }
            }

            .control-sets__container {
                display: flex;
                flex-wrap: nowrap;
                gap: 32px;
                overflow-x: auto;
                padding: 32px 32px 64px;

                .control-set {
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    border-top: 0;
                    flex: 0 0 auto;
                    margin-bottom: 0;
                    max-width: 282px;
                    padding: 0 16px 24px;

                    h3 {
                       color: #1e1e1e;
                       font-size: 13px;
                    }
                }

                &.is-rows {
                    flex-direction: column;

                    .control-set {
                        width: 100%;
                        max-width: 100%;

                        .section-header:not( .main ) {
                            border: none;
                            margin-bottom: 0;
                        }

                        .rule-set__fields,
                        .schedule__fields {
                            border: 1px solid #ddd;
                            padding: 16px;
                        }

                        .date-time-control__schedules {
                            grid-template-columns: repeat( auto-fit, minmax( 460px, 1fr ) );
                            grid-row-gap: 24px;

                            .fields__date-time {
                                display: grid;
                                grid-template-columns: repeat( auto-fit, minmax( 248px, 1fr ) );
                                grid-column-gap: 16px;
                            }
                        }

                        .rule-sets__add-rule-set,
                        .date-time-control__add-schedule {
                            margin-top: 24px;
                        }

                        .rule-sets {
                            grid-template-columns: repeat( auto-fit, minmax( 460px, 1fr ) );
                            grid-row-gap: 24px;
                        }

                        .fields-container {
                            grid-template-columns: repeat( auto-fit, minmax( 248px, .5fr ) );

                            &.is-simplified {
                                grid-template-columns: repeat( auto-fit, minmax( 248px, .5fr ) ) !important;

                                .field__ruleField,
                                .field__subField {
                                    grid-column-start: unset !important;
                                    grid-column-end: unset !important;
                                }
                            }

                            .components-toggle-control {
                                height: 36px;
                                display: flex;
                            }
                        }

                        .rule-set__rules {
                            grid-template-columns: repeat( auto-fit, minmax( 345px, 1fr ) );
                        }
                    }
                }
            }
        }
    }
}
