.visibility-controls__container {

    .components-disabled {
        opacity: .4;

        * {
            opacity: 1 !important;
        }

        .visibility-control {
            margin-bottom: 18px !important;
        }
    }

    .components-button.control-tips {
        vertical-align: middle;
        height: 18px;
        width: 18px !important;
        padding: 0 !important;
        min-width: 18px;
        margin-left: 5px;
        margin-top: -4px;

        &:not( :hover ) {
            color: #c8c8c8;
        }

        &:focus {
            box-shadow: none !important;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .control-separator {
        text-align: center;
        display: flex;
        flex-direction: row;
        padding: 10px 50px 20px;

        &:before,
        &:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #e0e0e0;
            margin: auto;
        }

        // Hide the last separator in the list.
        &:last-child {
            display: none;
        }

        span {
            padding: 0 8px;
            color: #cccccc;
            font-size: 90%;
        }
    }

    .visibility-control__group {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control__group-heading {
        font-weight: 500;
        margin-bottom: 16px;

        &.has-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>svg {
                width: 16px;
                margin: 0 4px;
            }
        }
    }

    .visibility-control {
        margin-bottom: 18px;

        &.is-open {
            margin-bottom: 24px;

            &>.components-base-control {
                margin-bottom: 12px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .visibility-control__label {
        margin-bottom: 8px;
    }

    .components-base-control__help {
        a {
            cursor: pointer;
        }

        strong {
            font-weight: 700;
        }
    }

    .visibility-control__help {
        font-size: 12px;
        font-style: normal;
        color: rgb(117, 117, 117);
        margin-bottom: 16px;

        strong {
            font-weight: 700;
        }
    }

    /* Specific styling for radio controls with help text --------------------*/
    .compound-radio-control {
        .components-radio-control__option {

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            input {
                vertical-align: top;
                margin-top: 2px;
                margin-right: 12px;
            }

            .compound-radio-label {
                display: inline-block;

                span {
                    display: block;
                    font-weight: 400;
                    max-width: 200px;
                    font-size: 12px;
                    font-style: normal;
                    color: rgb(117, 117, 117);
                    margin-top: 2px;
                }
            }
        }
    }

    /* Control Set styling -------------------------------------------------- */
    .control-set {
        margin-bottom: 30px;

        .block-visibility__control-set-header {
            margin-bottom: 30px;
            border-bottom: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
            margin-left: -16px;
            margin-right: -16px;
            width: calc(100% + 32px);
            padding: 6px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-weight: 500;
                margin: 0;
            }

            .configure-controls {
                button {
                    padding: 0;
                    min-width: 28px;
                }
            }
        }

        .visibility-control__group {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    /* Rule Set styling ----------------------------------------------------- */
    .rule-sets {
        margin-bottom: 24px;

        .rule-sets--add {
            margin-top: 24px;
        }

        .rule-sets__rule-set {
            margin-bottom: 20px;

            .rule-sets__rule-set--heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 6px;

                .heading__title {
                    font-weight: 500;
                    margin-right: 6px;
                }

                .heading__toolbar {
                    height: 24px;
                    width: 64px;
                    min-width: 64px;
                    text-align: right;

                    button {
                        padding: 0 !important;
                        height: 24px;
                        min-width: 24px;

                        &:hover {
                            color: var( --wp-admin-theme-color );
                        }

                        svg {
                            width: 20px;
                        }
                    }

                    .toolbar--delete {
                        svg {
                            width: 19px;
                        }
                    }

                    .components-disabled {
                        display: inline-block;
                    }
                }
            }
        }

        .rule-sets__rule {
            margin-bottom: 18px;

            .rule-sets__rule--header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    height: 24px;
                    min-width: 24px;
                    width: 24px;
                    padding: 0;
                }
            }

            .rule-sets__rule--fields {
                .fields__operator-and-value {
                    &.is-number {
                        display: flex;

                        .block-visibility__react-select {
                            margin: 0;
                            width: 100%;
                            margin-right: 10px;
                        }

                        .components-base-control {
                            width: 110px;

                            .components-base-control__field {
                                margin-bottom: 0;

                                .components-text-control__input {
                                    height: 36px;
                                }
                            }
                        }
                    }
                }

                .visibility-control__help {
                    margin-top: 10px;
                }
            }

            .components-base-control {
                margin-bottom: 0;
            }

            .components-text-control__input {
                padding: 8px;
            }
        }
    }

    /* Specific styles for the Hide Block visibility control -----------------*/
    .hide-block-control {
        padding-top: 10px;
    }

    /* Specific styles for the Date Time visibility control ------------------*/
    .date-time-control {
        .components-base-control {
            margin-bottom: 20px;
        }

        .date-time-control__schedules {
            margin-bottom: 28px;
        }

        .date-time-control__schedules--add {
            margin-top: 20px;
        }

        .date-time-control__schedule {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            &.disabled {
                .date-time-control__schedule--heading {
                    span {
                        opacity: 0.4;
                    }
                }
            }
        }

        .date-time-control__schedule--heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 6px;

            .schedule--heading__title {
                font-weight: 500;
                margin-right: 6px;
            }

            .schedule--heading__toolbar {
                height: 24px;
                width: 64px;
                min-width: 64px;
                text-align: right;

                button {
                    padding: 0 !important;
                    height: 24px;
                    min-width: 24px;

                    &:hover {
                        color: var( --wp-admin-theme-color );
                    }

                    svg {
                        width: 20px;
                    }
                }

                .components-disabled {
                    display: inline-block;
                }
            }
        }

        .date-time-control__schedule--date-time-field {
            border-radius: 2px;
            border: 1px solid #757575;
            min-height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .components-button {
                padding: 0;

                &:first-child {
                    margin-left: -2px;
                }

                &.is-link {
                    color: #333;
                    text-decoration: none;
                    width: 100%;

                    svg {
                        margin: 4px 0 4px 8px;
                    }

                    span {
                        padding: 8px;
                    }

                    &:hover {
                        color: var( --wp-admin-theme-color );
                    }
                }

                &.clear-date-time {
                    max-height: 34px;
                    min-width: 24px;
                    padding: 4px;
                }
            }
        }

        .date-time-control__schedule--remove {
            margin-top: 12px;
        }
    }

    /* Specific styles for the Screen Size visibility control ----------------*/
    .screen-size-control {
        .components-base-control {
            margin-bottom: 18px;
        }

        .components-notice {
            margin-top: 20px;
        }
    }

    .components-notice {
        margin: 10px 0;

        .components-notice__content {
            margin: 2px 0;

            .visibility-control__help {
                display: inline-block;
                margin: 4px 0 0;
            }
        }
    }

    /* Specific styles for the Query String visibility control ---------------*/
    .query-string-control {
        .visibility-control__help {
            margin-bottom: 18px;
        }

        textarea {
            white-space: nowrap;
        }
    }

    /* Specific styles for the ACF visibility control ------------------------*/
    .acf-control {
        .components-notice {
            margin-bottom: 20px;
        }
    }
}

/* Date/Time calendar popover styles -----------------------------------------*/
.block-visibility__date-time-popover {

    .date-time-header {
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        padding: 16px 12px;
        margin-bottom: 16px;

        display: flex;
        justify-content: space-between;
    }
}

/* Control set styles --------------------------------------------------------*/
.block-visibility__control-popover {

    .components-menu-group {
        border-top: 1px solid #cccccc !important;
        margin: 0 -12px;
        padding: 12px;

        &.core-controls {
            border-top: 0 !important;
            margin-top: -12px;
        }

        &:last-child {
            margin-bottom: -12px;
        }

        .components-menu-item__button {
            &.disabled {
                span {
                    margin-right: 46px;
                }
            }
        }
    }

    &.tips>div {
        min-width: 400px;
        padding: 24px;
        cursor: default;

        h3 {
            margin-top: 0;
        }

        h4 {
            margin-bottom: .75em;
        }

        p {
            margin-top: 0;

            &.learn-more {
                border-top: 1px solid #e0e0e0;
                padding-top: 1.25em;
                margin-top: 2em;
                margin-bottom: 0;
            }
        }

        code {
            margin-right: 8px;
        }

        ol {
            margin-top: 0;
            margin-bottom: 0;
        }

        li.tip {
            padding-left: 5px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &::marker {
                font-weight: bold;
                font-size: 14px;
            }
        }

        .usage {
            .components-flex {
                margin-bottom: 1em;
            }

            .components-flex__item {
                min-width: auto;

                &:first-child {
                    min-width: 100px;
                }
            }
        }
    }

    &.schedule-settings>div {
        min-width: 300px;
        padding: 6px;
        cursor: default;

        h3 {
            margin-top: 0;
            margin-bottom: 18px;
            color: #757575;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
        }

        .components-base-control {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            .components-base-control__help {
                margin-top: -2px;
                margin-bottom: 0;
            }

            &:not( .components-toggle-control ) {
                .components-base-control__help {
                    margin-top: 0;
                }
            }
        }
    }

    .components-menu-item__button {

        .control-branding-icon {
            width: 14px;
            margin-right: 8px;
        }

        &:hover {
            .control-branding-icon {
                opacity: .6;
            }
        }
    }

    .components-notice {
        margin: 10px 0;

        .components-notice__content {
            margin: 2px 0;

            .visibility-control__help {
                display: inline-block;
                margin: 4px 0 0;
            }
        }
    }
}

// Bit of a hack and applies to all celendar components, should be removed at some point.
.CalendarDay__today {
    background: #f5f5f5;
}

/* Custom styling to make react-select components look more like WordPress. --*/
.block-visibility__react-select {
    margin: 10px 0;

    .react-select__control {
        border-radius: 2px;
        border: 1px solid #757575;
        min-height: 20px;

        &:hover {
            border: 1px solid #757575;
        }

        &:focus,
        &.react-select__control--is-focused {
            border-color: #007cba;
            border-color: var(--wp-admin-theme-color);
            box-shadow: 0 0 0 1px #007cba;
            box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
            outline: 2px solid transparent;
        }
    }

    // Removes added height on cursor.
    .react-select__value-container {
        div:last-child {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    .react-select__value-container--is-multi {
        padding: 2px 4px;

        .react-select__placeholder {
            margin-left: 5px;
            margin-right: 5px;
        }

        div:last-child {
            margin: 0 2px;
        }
    }

    .react-select__multi-value {
        background-color: #ddd;

        .react-select__multi-value__label {
            font-size: 90%;
            white-space: normal;
        }
    }

    .react-select__input {
        input {
            min-height: auto;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .react-select__clear-indicator,
    .react-select__dropdown-indicator {
        padding: 6px;

        &:hover {
            color: #007cba;
            color: var(--wp-admin-theme-color);
            cursor: pointer;
        }
    }

    .react-select__option,
    .react-select__multi-value__remove {
        cursor: pointer;
    }

    .react-select__option--is-focused,
    .react-select__option--is-selected {
        background: white;
        color: #007cba;
        color: var(--wp-admin-theme-color);
    }

    .react-select__option--is-selected {
        background: #eee;
    }

    .react-select__option--is-disabled {
        color: #cccccc !important;
    }

    // Fixes issue where editor footer is above the menu. This shifts the page up.
    .react-select__menu {
        margin-bottom: 50px;
    }
}

.block-visibility__reset-modal {
    max-width: 400px !important;

    .block-visibility__reset-modal--buttons {
        margin-top: 24px;

        button {
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.block-visibility__tips-modal {
    max-width: 600px !important;

    h4 {
        margin-bottom: .75em;
    }

    p {
        margin-top: 0;
    }

    code {
        margin-right: 8px;
    }

    ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    li.tip {
        padding-left: 5px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &::marker {
            font-weight: bold;
            font-size: 14px;
        }
    }

    .usage {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        margin-bottom: 20px;

        .flex-table {
            margin-top: 20px;
        }

        .components-notice {
            margin: 0 0 10px;
        }

        .components-flex {
            margin-bottom: 1em;
        }

        .components-flex__item {
            min-width: auto;

            &:first-child {
                min-width: 100px;
            }
        }
    }

    .learn-more {
        border-top: 1px solid #e0e0e0;
        padding-top: 1.25em;
        margin-top: 2em;
        margin-bottom: 0;
        margin: 2em -32px -24px;
        padding: 0 32px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Specific styles for the Customizer Widgets screen -------------------------*/
#customize-theme-controls {

    .visibility-controls__container {

        h3.visibility-control__group-heading {
            font-size: 13px !important;
            font-weight: 500 !important;
            margin-bottom: 16px !important;
        }
    }

    .control-set {
        .block-visibility__control-set-header {
            h3 {
                font-size: 12px !important;
                margin-bottom: 8px !important;
            }
        }
    }
}
