// Media query variables
$desktop: 1024px;
$tablet: 768px;
$mobile: 426px;

/* To fix rendering quirk in Chrome */
#wpwrap {
	background: #f1f1f1;
}

/* Hide WP notices on the settings page */
.notice {
	display: none;
}

#block-visibility-settings-container {
	margin-left: -20px;

	hr {
		margin: 24px 0;
		border-top: 1px solid #eee;
	}

	.notice {
		display: block;
		margin-top: 15px;
	}

	.loading-settings {
		text-align: center;
		margin: 35vh 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		.components-spinner {
			float: none;
		}

		.description {
			color: #777;
			margin-top: 4px;
		}
	}

	.masthead {
		background-color: #fff;
		padding: 10px 30px;

		.inner-container {
			margin: 0 auto;
			max-width: 1024px;
			display: flex;
			justify-content: space-between;

			@media ( max-width: $mobile ) {
				flex-direction: column;
				margin: 5px auto;
			}
		}

		.masthead__branding {
			h1 {
				font-weight: 400;
				display: flex;
				margin: 0;
			}

			p {
				color: #32373C;
				font-size: 15px;
				line-height: 1.4;
				max-width: 660px;
				margin: 20px 0 0;
			}

			.branding__logo {
				svg {
					width: 200px;
					fill: #45428f;

					.transparent {
						opacity: .6;
					}
				}
			}

			.pro-badge {
				color: #fff;
				text-transform: uppercase;
				font-size: 8px;
				height: 8px;
				border-radius: 4px;
				padding: 4px 6px;
				line-height: 1;
				font-weight: 800;
				letter-spacing: 1px;
				margin-left: 8px;
				background: #45428f;
			}

			@media ( max-width: $mobile ) {
				text-align: center;
			}
		}

		.masthead__plugin-links {
			font-size: 15px;
		    font-weight: 500;
		    width: 50%;
		    display: flex;
		    justify-content: flex-end;
		    align-items: center;

			a {
				color: #23282d;
				cursor: pointer;
				display: inline-block;
				margin-left: 16px;
				text-decoration: none;

				svg {
					width: 20px;
					fill: currentColor;
					vertical-align: middle;
					margin: 0px 6px 4px 0;
				}

				&:hover {
					color: #007cba;

					svg {
						fill: #007cba;
					}
				}
			}

			@media ( max-width: $mobile ) {
				justify-content: center;
				margin-top: 10px;
				width: 100%;

				a {
					margin: 0 8px;
				}
			}
		}
	}

	.footer {
		padding: 10px 30px;
		box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);
		margin-top: 20px;
		text-align: center;

		.inner-container {
			margin: 0 auto;
			max-width: 1024px;

			@media ( max-width: $desktop ) {
				display: block;
			}
		}

		a {
			color: #555d66;
			display: inline-block;
			margin: 5px 8px;
			text-decoration: none;

			&:hover {
				color: #0073aa;
			}
		}
	}

	/* General styles for all setting tabs */
	.setting-tabs {

		.message {
			color: #777;
			display: flex;

			svg {
				fill: #777;
				vertical-align: middle;
				margin: 0px 6px;
				width: 20px;
				height: 20px;
			}
		}

		.components-tab-panel__tabs {
			justify-content: center;
			box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);

			.components-tab-panel__tabs-item {
				font-size: 15px;
			}

			.active-tab,
			.components-tab-panel__tabs-item:focus:not(:disabled) {
				box-shadow: inset 0 -2px #007cba;
			}
		}

		.components-tab-panel__tab-content {
			padding: 40px 30px;

			.inner-container {
				margin: 0 auto;
				max-width: 1024px;

				&.narrow {
					max-width: 840px;
				}
			}
		}

		.setting-tabs__tab-description {
			h2 {
				font-size: 30px;
				font-weight: 400;
				margin: 0 0 20px;
			}

			p {
				color: #32373C;
				font-size: 15px;
				line-height: 1.4;
				margin: 0;
			}
		}

		.setting-tabs__setting-controls {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			min-height: 36px;

			.setting-controls__title {
				display: flex;
				align-items: center;
				font-size: 18px;
				font-weight: 500;

				.information-popover__button {
					color: #999;
					margin-left: 6px;
				}
			}

			.setting-controls__save-settings {
				display: flex;
				align-items: center;

				.message {
					margin-top: 5px;
					margin-right: 24px;

					@media ( max-width: $tablet ) {
						display: none;
					}

					.update-failed {
						color: #b52727;
					}
				}

				.save-settings__save-button {
					&.is-busy {
						color: #ffffff;
						background-size: 100px 100%;
						// Disable reason: This function call looks nicer when each argument is on its own line.
						/* stylelint-disable */
						background-image: linear-gradient(
							-45deg,
							#1989c1 28%,
							color(#1989c1 shade(20%)) 28%,
							color(#1989c1 shade(20%)) 72%,
							#1989c1 72%
						);
						/* stylelint-enable */
						border-color: color(#1989c1);
					}
				}
			}

			/* Used on Block Manager tab */
			.setting-controls__search-blocks {
				width: 250px;

				div {
					margin: 0;
				}

				input {
					border: 1px solid #ccd0d4;
					padding: 9px 12px;
				}

				@media ( max-width: $mobile ) {
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}

		.setting-tabs__settings-panel {
			background: #fff;
			font-size: 15px;
			margin-bottom: 20px;

			.settings-panel__header {
				padding: 16px 16px 16px 24px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);
				margin-bottom: 1px;

				.settings-panel__header-title {
					font-weight: 500;
				}
			}

			.settings-panel__container {
				padding: 24px 16px 24px 24px;
				box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);

				.settings-type__toggle {
					margin-bottom: 18px;

					&.has-info-popover {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}

					&.first {
						margin-top: 24px;
					}

					&:last-child {
						margin-bottom: 0;
					}

					.components-toggle-control {
						.components-base-control__field {
							margin: 4px 0;
						}
					}

					label {
						margin-bottom: 0;
					}
				}

				.subsetting {
					margin-bottom: 12px;
					margin-left: 30px;
				}

				label,
				.settings-label {
					font-size: 14px;
					margin-bottom: 8px;
				}

				.settings-panel__help {
					font-size: 12px;
					font-style: normal;
					color: rgb(117, 117, 117);
				}

				.components-disabled {
					opacity: .4;

					.components-form-toggle {
						opacity: 1;
					}
				}
			}
		}
	}

	/* Specific styles for Screen Size visibility controls */
	.breakpoint-control-container {
		display: flex;
		justify-content: space-between;
		margin-right: 8px;

		.settings-label {
			font-weight: 500;
			margin-bottom: 20px !important;
		}

		@media ( max-width: $tablet ) {
			display: block;
		}
	}

	.breakpoint-css-preview {
		margin: 10px 8px 30px 0;

		pre {
			border: 1px solid #ccd0d4;
			color: #555;
			font-size: .9em;
			padding: 20px;
			margin-top: 20px;
		}
	}

	.breakpoints-container {
		max-width: 100%;
		margin-right: 10%;

		.breakpoint {
			margin-bottom: 18px;

			.settings-panel__help {
				margin-top: 8px;
			}
		}

		@media ( max-width: $tablet ) {
			margin-right: 0;
			margin-bottom: 30px
		}
	}

	.controls-container {
		width: 60%;

		.components-base-control {
			margin-bottom: 18px;

			&:first-child {
				margin-top: 2px;
			}
			
			label {
				margin-bottom: 0 !important;
			}

			.components-base-control__help {
				margin-top: -4px;
			}
		}

		@media ( max-width: $tablet ) {
			width: 100%;
			margin-bottom: 30px
		}
	}

	/* Specific styles for the Getting Started tab */
	.setting-tabs__getting-started {
		h2 {
			font-size: 20px;
			font-weight: 400;
		}

		p {
			font-size: 15px;
			line-height: 1.4;
			margin-bottom: 1.5em;
		}

		.getting-started__video {
			background: lightgrey;
			margin: 40px 0;
			text-align: center;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.getting-started__panels {

			.components-panel__body {
				box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);
				border: 0;

				.components-panel__row {
					display: block;
				}

				h2 {
					background-color: #ffffff;

					button {
						font-size: 15px;
						font-weight: 500;
					}
				}

				p {
					font-size: 14px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&.is-opened {
					h2 {
						border-bottom: 1px solid #ccd0d4 !important;
					}
				}
			}

			.panels__content-label {
			    font-weight: 500;
			    font-size: 15px;
				margin-top: 15px;
				padding-top: 20px;
				border-top: 1px solid #ccd0d4;

				&:first-child {
					margin-top: 25px;
					padding-top: 0;
					border: 0;
				}
			}
		}

		.getting-started__help {
			background: #FFFFFF;
			box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);
			box-sizing: border-box;
			padding: 1em 3em 2em;
			margin: 40px auto 0;
			text-align: center;
		}
	}

	/* Specific styles for the Block Manager tab */
	.setting-tabs__block-manager {

		.block-manager__category-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 20px;
			row-gap: 20px;

			@media ( max-width: $desktop ) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media ( max-width: $tablet ) {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		.block-manager__block-category {
			background: #FFFFFF;
			box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0,0,0,.04);
			box-sizing: border-box;
			padding: 16px;

			.components-base-control {
				flex: 1;
			}

			.components-base-control .components-base-control__field {
				margin: 0;
			}

			.block-category__title {
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 0.25px;
				padding: 4px 10px 16px 0;
				border-bottom: 1px solid #ccd0d4;

				.components-base-control__field {
					display: flex;
					justify-content: space-between;
					align-items: center;

					label {
						flex: 1;

						&>span {
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
					}
				}
			}

			.block-category__blocks-list {
				margin: 0;
			}

			.blocks-category__block {
				padding: 12px 12px 12px 30px;
				margin: 0;
				border-bottom: 1px solid #ccd0d4;

				&:last-child {
					border-bottom: none;
				}

				.block-editor-block-icon {
					width: 22px;
					height: 22px;
				}

				.components-base-control__field {
					display: flex;
					justify-content: space-between;
					align-items: center;

					label {
						flex: 1;

						&>span {
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
					}
				}
			}
		}
	}

	/* Information Popover */
	.information-popover {
		line-height: 0; /* Correction for button */

		.information-popover__button {
			color: #c8c8c8;
		    padding: 0;
		    height: 18px;

			svg {
				width: 22px;
			}

			&:hover {
				background-color: transparent !important;
				box-shadow: none !important;
				color: #414141;
			}
		}

		.information-popover__popover {
			p {
				font-size: 13px;
				color: #32373C;
				line-height: 1.5;
				margin: 0 0 1em;
			}

			.components-popover__content {
				line-height: 1.4;
				padding: 16px;
				font-size: 13px;
				text-align: left;
				min-width: 200px;
				max-width: 250px;
			}

			.components-external-link {
				display: block;
				margin-top: 12px;
				padding-top: 12px;
				border-top: 1px solid #d0d0d0;
			}
		}
	}
}
