
#bv-settings-container {
    margin-left: -20px;
    
    
}

.bv-settings-loading {
    text-align: center;
    margin: 150px 30px;
}

.bv-masthead {
    background-color: #fff;
    padding: 30px;
    
    .inner-container {
        margin: 0 auto;
        max-width: 1024px;
        
        display: flex;
        justify-content: space-between;
    }
}

.bv-masthead-branding {
    .plugin-logo {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .plugin-description {
        font-size: 15px;
        line-height: 1.4;
        max-width: 660px;
    }

    .plugin-version {
        background: #f1f1f1;
        padding: 6px 8px;
        line-height: 1;
        font-size: 10px;
        border-radius: 4px;
        border: 1px solid #E0E5E9;
        display: inline-block;
        margin: 20px 0 4px;
    }
}

.bv-masthead-meta {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    
    .saving-notices {
        .components-animate__loading {
            color: #777;
            display: inline-block;
        }
        svg {
            fill: #777;
            vertical-align: middle;
            margin: 0px 2px 4px 0;
        }
    }
    
    .plugin-links {
        color: #555D66;
        font-size: 15px;
        font-weight: 500;
        margin-top: auto;
        align-self: flex-end;
        
        a {
            color: #555D66;
            cursor: pointer;
            display: inline-block;
            margin-left: 16px;
            
            svg {
                fill: #555D66;
                vertical-align: middle;
                margin: 0px 6px 4px 0;
            }
            
            &:hover {
                color: #007cba;
                
                svg {
                    fill: #007cba;
                }
            }
        }
    }
}


.bv-tab-panel {
    .components-tab-panel__tabs {
        justify-content: center;
        border-bottom: 1px solid #E0E5E9;
        
        .components-tab-panel__tabs-item {
            font-size: 15px;
        }
        
        .active-tab,
        .components-tab-panel__tabs-item:focus:not(:disabled) {
            box-shadow: inset 0 -2px #007cba;
        }
    }
}

.components-tab-panel__tab-content {
    margin: 40px auto;
    max-width: 1024px;
}

.bv-block-manager__controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;

    margin: 0 0 16px;
}

.bv-block-manager__category-container {
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bv-block-manager__category {
    background: #FFFFFF;
    border: 1px solid #E2E4E7;
    box-sizing: border-box;
    /*
    padding: 16px;
    margin: 12px;
    max-height: 500px;
    overflow-y: scroll;
    flex: 1 1 30%;
    */
    
    width: 32%;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    
    .components-base-control {
        flex: 1;
    }
    
    .components-base-control .components-base-control__field {
        margin: 0;
    }
    
}


.bv-block-manager__category-title {
    font-size: 14px;
    font-weight: bold;    
    letter-spacing: 0.25px;
    padding: 4px 10px 16px 0;
    border-bottom: 1px solid #E2E4E7;
    
    .components-base-control__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        label {
            flex: 1;
            
            &>span {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.bv-block-manager__blocks {
    margin: 0;
    
    .bv-block-manager__blocks-item {
        padding: 12px 12px 12px 30px;
        margin: 0;
        border-bottom: 1px solid #E2E4E7;
        
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
        
        .block-editor-block-icon {
            width: 22px;
            height: 22px;
        }
        
        .components-base-control__field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            label {
                flex: 1;
                
                &>span {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}


