
#bv-settings-container {
    margin-left: -20px;
}

.bv-masthead {
    background-color: #fff;
    min-height: 200px;
    
    .inner-container {
        margin: 0 auto;
        width: 1024px;
    }
}

.bv-tab-panel {
    .components-tab-panel__tabs {
        justify-content: center;
        border-bottom: 1px solid #E0E5E9;
        
        .active-tab,
        .components-tab-panel__tabs-item:focus:not(:disabled) {
            box-shadow: inset 0 -2px #007cba;
        }
    }
}

.components-tab-panel__tab-content {
    margin: 40px auto;
    width: 1024px;
}

.bv-block-manager__controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;

    margin: 0 0 16px;
}

.bv-block-manager__category-container {
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bv-block-manager__category {
    background: #FFFFFF;
    border: 1px solid #E2E4E7;
    box-sizing: border-box;
    /*
    padding: 16px;
    margin: 12px;
    max-height: 500px;
    overflow-y: scroll;
    flex: 1 1 30%;
    */
    
    width: 32%;
    padding-bottom: 18%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    
    .components-base-control {
        flex: 1;
    }
    
    .components-base-control .components-base-control__field {
        margin: 0;
    }
    
}
.bv-block-manager__category-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;    
    letter-spacing: 0.25px;
    padding: 4px 10px 16px 0;
    border-bottom: 1px solid #E2E4E7;
}
.bv-block-manager__blocks {
    margin: 0;
    
    .bv-block-manager__blocks-item {
        display: flex;
        align-items: center;
        padding: 12px 12px 12px 30px;
        margin: 0;
        border-bottom: 1px solid #E2E4E7;
        
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
        
        .block-editor-block-icon {
            width: 22px;
            height: 22px;
        }
    }
}


